{% extends 'layouts/general_layout.html' %}
{% load static %}

{% block title %} Perfil {% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <!--https://fontawesome.com/search?q=postt&f=classic&s=solid&o=r-->
    <div class="contenedor-padre">
        <div class="nav-bar-vertical">
            <div class="logo">
                <i class="fas fa-mobile-alt"></i>
                <h2>MobiPart</h2>
            </div>
            <ul class="nav-links">
                <li class="items"><i class="fas fa-shop"></i><a href="post_create.html">Publicar</a></li>
                <li class="items"><i class="fas fa-shopping-cart"></i><a href="{% url 'post:my_post' %}">Mis publicaciones</a></li>
                <li class="items"><i class="fas fa-envelope-open"></i><a href="#">Mensajes</a></li>
                <li class="items"><i class="fas fa-circle-user"></i><a href="#">Mi Cuenta</a></li>
            </ul>
        </div>
        <div class="cuerpo">
            <div class="bienvenido-horizontal">
                <div class="bienvenido">
                    <h3>Bienvenido de nuevo, Fulano</h3>
                    <i class="fas fa-smile"></i>
                </div>
                <p>Tus publicaciones, compras y mensajes en un solo lugar</p>
            </div>
            <div class="contenedor-panza">
                    <div class="tarjeta-1">
                        <div class="descripcion">
                            <h3>Perfil</h3>
                            <p>Cambia tu foto de perfil y edita tu información personal.</p>
                        </div>
                        <div class="cont-perfil">
                            <img class= "img-perfil" src="{% static 'post_images/pinguino.jpg' %}" alt="">
                            <div>
                                <button>Cambiar foto</button>
                                <p>JPG o PNG</p>
                                <p>Tu foto se recortará automaticamente</p>
                            </div>
                        </div>
                        <div class="cont-form">
                            <form action="">
                                <h5>nombre</h5>
                                <input type="text" maxlength="50" placeholder="Rambo77">
                                <h5>e-mail</h5>
                                <input type="text" maxlength="50" placeholder="Rambo323@gmail.com">
                                <h5>contraseña</h5>
                                <input type="password" maxlength="25"><button>editar contraseña</button>
                                <h5>localidad</h5>
                                <input type="text" maxlength="50" placeholder="Charata">
                            </form>
                            <button class="actualizar-btn">Actualizar perfil</button>
                        </div>
                    </div>
                <div class="contenedor-derecho">
                    <div class="favoritos">
                        <h5>Mis Favoritos</h5>
                        <div class="cont-favoritos">
                            <div class="div-tarjetas">
                                <div class="tarjetas-favoritos">
                                    <img src="{% static 'post_images/celu1.jpeg' %}" alt="">
                                </div>
                                <i class="fas fa-heart"></i>
                                <button>Quitar</button>
                            </div>
                            <div class="div-tarjetas">
                                <div class="tarjetas-favoritos">
                                    <img src="{% static 'post_images/celu2.jpeg' %}" alt="">
                                </div>
                                <i class="fas fa-heart"></i>
                                    <button>Quitar</button>
                            </div>
                            <div class="div-tarjetas">
                                <div class="tarjetas-favoritos">
                                    <img src="{% static 'post_images/celu3.jpeg' %}" alt="">
                                </div>
                                <i class="fas fa-heart"></i>
                                <button>Quitar</button>
                            </div>
                            <button>Ver todos</button>
                        </div>
                    </div>
                    <div class="tarjeta-3">
                        <div class="texto-encima">
                            <p>En MobiPart podes descubrir y vender varios dispositivos</p>
                            <br>
                            <p>* Celus y tablets,del mas viejo hasta el mas nuevo (incluso si no sirve)</p>
                            <br>
                            <p>* PC de escritorio y Notebooks</p>
                            <br>
                            <p>* Monitores y consolas de videojuegos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
