{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_layout %} {% endblock title_layout %}</title>
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon" />
    <script type="module" src="{% static 'js/Tailwind.js' %}"></script>
    {% block extra_head_layout %} {% endblock extra_head_layout %}
    <style type="text/tailwindcss">
      @theme {
        --breakpoint-xs: 30rem;
        --color-primary: #1E3A8A;
        --color-secondary: #3B82F6;
        --color-background: #F3F4F6;
        --color-cards: #FFFFFF;
        --color-buttons: #22C55E;
      }
    </style> 

</head>
<body class="min-w-[288px]">
   {% block content_layout %} {% endblock content_layout %}
</body>
</html>