{% extends 'layouts/base_layout.html' %}


{% block title_layout %}
    
    {% block title %}
        Página
    {% endblock title %}
        | MobiPart
{% endblock title_layout %}

{% block extra_head_layout %}
    {% block extra_head %} {% endblock extra_head %}
{% endblock extra_head_layout %}

{% block content_layout %}
    {% include 'components/commons/header.html' %}
    {% block content %} {% endblock content %}
    {% include 'components/commons/footer.html' %}
{% endblock content_layout %}
    