<header class="header">
        <nav class="navbar">
            <div class="nav-container">
                <div class="nav-logo">
                    <a href="{% url 'home' %}" class="nav-logo-link">
                        <i class="fas fa-mobile-alt"></i>
                        <span>MobiPart</span>
                    </a>
                </div>
                
                <div class="nav-search">

                    <form method="GET" action="{% url 'post:post_list' %}">
                        <input type="text" name="search_query" placeholder="Buscar celulares, repuestos..." class="search-input">
                        <button class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

                </div>              
                {% include 'components/ui/navbar.html' %}
            </div>
        </nav>
        
        {% include 'components/filters/category_filters.html' %}
    </header>
