<header class="header">
        <nav class="navbar">
            <div class="nav-container">
                <div class="nav-logo">
                    <a href="{% url 'home' %}" class="nav-logo-link">
                        <i class="fas fa-mobile-alt"></i>
                        <span>MobiPart</span>
                    </a>
                </div>
                
                <div class="nav-search">
                    <input type="text" placeholder="Buscar celulares, repuestos..." class="search-input">
                    <button class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>              
                {% include 'components/ui/navbar.html' %}
            </div>
        </nav>
        
        {% include 'components/filters/category_filters.html' %}
    </header>