<nav>
    <div class="nav-actions">
        <div class="user-menu">
            {% if user.is_authenticated %}
                <button class="login-btn">
                    <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar">
                    <span>{{ user.username }}</span>
                </button>
            {% else %}
                <button class="login-btn">
                    <span>Iniciar Sesión</span>
                </button>
            {% endif %}   
            <div class="dropdown-menu">
                <div class="dropdown-divider"></div>
                
                {% if user.is_authenticated %}
                    <a href="{% url 'user:user_profile' %}" class="dropdown-item">Mi Perfil</a>
                    <a href="{% url 'user:auth_logout' %}?next={{ request.get_full_path }}" class="dropdown-item">Cerrar Sesión</a>
                    <a href="#" class="dropdown-item">Mis Favoritos</a>
                    <a href="#" class="dropdown-item">Mis Publicaciones</a>

                {% else %}
                    <a href="{% url 'user:auth_register' %}" class="dropdown-item">Registrarse</a>
                    <a href="{% url 'user:auth_login' %}" class="dropdown-item">Iniciar sesión</a>
                    
                {% endif %}
                    
            </div>
        </div>
    </div>
</nav>